{
  "root": true,
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:deprecation/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "webextensions": false,
    "browser": false,
    "node": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "off",
    "no-console": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-base-to-string": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn", {
        "ignoreParameters": true
      }
    ],
    "prefer-const": "error",
    "prettier/prettier": "error"
  }
}